<div class="photo-carousel">
  <div style="background-image: url(../img/convention2013.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div title-image class="title-image" style="position:absolute; bottom:0">
	  	<h1 style="margin: 0; color:black"><b>TJ at VJCL Convention</b></h1>
	</div>
	<div caption-image class="caption-image" style="position:absolute; bottom:0; right:0">
	  	<p> We had a total blast at Convention this year! We can't wait to come back in 2014 stronger than ever. Thanks to everyone who attended, and we are so excited! Omnia enim rerum principia parva sunt! </p>
	</div>
  </div>

  <div style="background-image: url(../img/ides2014.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%;">
  </div>

  <div style="background-image: url(../img/induction2013.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%;">
  </div>
</div>


<h1> Hi Home! </h1>