<div class="photo-carousel">
  <div style="background-image: url(../img/convention2013.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image" style="display: inline-flex; position:absolute; bottom:0; background-color: rgba(96, 33, 87, 0.75)">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>TJ at VJCL Convention</b></h1>
	  	<p style="padding:10px; order:2;"> We had a total blast at Convention this year! We can't wait to come back in 2014 stronger than ever. Thanks to everyone who attended, and we are so excited! Omnia enim rerum principia parva sunt! </p>
	</div>
  </div>

  <div style="background-image: url(../img/ides2014.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image" style="display: inline-flex; position:absolute; bottom:0; background-color: rgba(96, 33, 87, 0.75)">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Ides of March</b></h1>
	  	<p style="padding:10px; order:2;"> John Wilkes as Mark Antony gives a rousing yet solemn speech following an undoubtedly accurate reenactment of Caesar's death. All attendees are silent out of reverence and respect for Ms. Conklin's dear spouse. </p>
	</div>
  </div>


  <div style="background-image: url(../img/induction2013.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image" style="display: inline-flex; position:absolute; bottom:0; background-color: rgba(96, 33, 87, 0.75)">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Induction Ceremony</b></h1>
	  	<p style="padding:10px; order:2;"> In appropriate clothing, Ms. Conklin holds the spirits of Latin gingerly as Antonius Carrington proceeds to light one of them on fire. This ceremony is so exclusive and secret that we had to share it with you online. </p>
	</div>
  </div>

  <div style="background-image: url(../img/pumpkins.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image" style="display: inline-flex; position:absolute; bottom:0; background-color: rgba(96, 33, 87, 0.75)">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Myth Pumpkins</b></h1>
	  	<p style="padding:10px; order:2;"> As Halloween draws close, TJ students are sharing in the revelry with a Roman twist: decorating pumpkins with mythological stories and creatures! Come look at the best in show, funniest, and most artistic pumpkins later. </p>
	</div>
  </div>

</div>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1>Welcome to TJ Latin Honor Society!</h1>
			<p> We are so excited to share with you all the great aspects of TJ's excellent Latin program. From academic rigor to ancient festivities, we've got it all! Check out our site to learn more about us.</p>
			<p><a class="btn btn-primary btn-lg" ui-sref="about" role="button">Learn more</a></p>
		</div>
		<div class="col-sm-4">
			<div class="well">
				<h2 style="margin-top:0"> 2014-2015 JCL motto </h2>
				<blockquote>
					<p>Tu ne cede malis, sed contra audentior ito.</p>
					<p style="float:right"><em>Vergil, Aeneid VI.95</em></p>
				</blockquote>
				
			</div>
		</div>
	</div>
</div>